body {
    background-image: url(a.jpg);
    background-size: cover;
}

.row .col-12 {
    position: absolute;
    top: 50px;
    color: #444;
}

form h1 {
    text-align: center;
    border-bottom: 2px solid #acacac;
    padding-bottom: 10px;
    color: #444;
    font-family: 'Raleway', sans-serif; 
}

.col-lg{
    margin: 150px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 15px;
}

.row {
    width: 300px;
    margin: auto;
    position: relative;
}

.form-group label {
        font-family: 'Raleway', sans-serif;
        color: #444;
}

.form-group input {
    border-radius: 50px;
    background-color: white;
}

.form-group a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.form-group a:hover {
    color: #eee;
}

.btn {
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
}

/* footer */
.footer {
    margin-top: 100px;
}

.footer p {
    color: white;
    font-size: 18px;
}
